{% extends "base.html" %}
{% load static %}
{% block content %}

  <!-- Hero Start -->
<div class="container-fluid py-5 mb-5 hero-header">
    <div class="container py-5">
        <div class="row g-5 justify-content-center align-items-center">
            <div class="col-md-12 col-lg-7 text-center">

                <h1 class="mb-5 display-2 text-white">
                    Agile Careers
                </h1>

                 <h5 class="mb-1 display- text-white">
                    Find Your Next Pharmacy or Healthcare Role
                </h5>

                <p class="mb-4 text-white">
                    Curated job listings for pharmacists and healthcare professionals across Nigeria — updated weekly
                </p>


                <div class="d-flex justify-content-center flex-column flex-sm-row gap-3">
                    <a class="btn btn-primary rounded-pill text-white py-3 px-5" href="#">
                        🚀 Browse Roles
                    </a>
                    <a class="btn btn-outline-primary rounded-pill text-white py-3 px-5" href="#">
                       Join Our Community
                    </a>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- Hero End -->


{% endblock %}